@font-face {
  font-family: "SF Pro Text";
  src: local("SFProText"), url(./fonts/SFProText.woff2) format("woff2");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  width: 87.5%;
  line-height: 1.47059;
  font-weight: 400;
  font-style: normal;
  font-family: "SF Pro Text";
  color: #1d1d1f;
  font-size: 17px;
  letter-spacing: -0.022em;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 1.17em;
  font-weight: 600;
}

a {
  color: #06c;
  letter-spacing: inherit;
}
